* {
	font-family: mono;
	box-sizing: border-box;
	font-size: 20px;

}
body {
	background: #051930;
	display: grid;
	grid-template-columns: auto auto;
}
@media (max-width: 900px) {
	body { 
		grid-template-columns: auto;
	}
}
#content {
	background: #051930;
}
#editor {
	background: #2c3e50;
}
.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	background-color: #2196F3;
	padding: 10px;
	height: 600px;
	min-width: 40vw;
}
.grid-item {
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 20px;
	font-size: 30px;
	text-align: center;
}

.selects {
	padding: 20px;
	color: white;
}

input {
	width: 80px;
}

#rest-all {
	background: #c21b1b;
	color: white;
	border: none;
	padding: 5px;
	font-weight: bold;
	font-size: 25px;
}
